$background-color: #f7f8f9;
$border-color: #d4d6d8;
$focused-border-color: #b2b5b7;
$gray-color: #5c6166;
$dark-gray-color: #4b4a4f;
$main-purple-color: #6f11c1;
$main-blue-color: #1161d8;
$facebook-primary-color: #3b5998;
$google-red-color: 	#ea4335;

$input-border-radius: 40px;
$input-height: 5rem;